@{
    ViewData["Title"] = "Home Page";
}

@*
    DbWebAPI.Views.Home.Index.cshtml - API Home Page.

    For Open API Web Service please see...

        DbWebAPI.Controllers.SCxItemsController.cs
        DbWebAPI.Models.SCxItems.cs

    For MVC View Web Service Please see...

        DbWebAPI.Views.SCxView.Index.cshtml
        DbWebAPI.Controllers.SCxViewController.cs
        DbWebAPI.Models.SCxItems.cs

    For Razor Page Web Service please see...

        DbWebAPI.Pages.Index.cshtml.cs
        DbWebAPI.Pages.Shared._popupEdit.cshtml
        DbWebAPI.Models.SCxItems.cs
*@

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Set device screen default scale for Responsive Design-->

    <style>
        .blue {
            color: lightskyblue;
        }
            .blue p { text-shadow: 0.3px 0.3px 0.3px rgba(0,0,0,0.5); }
            .blue button {
                background-color: lightskyblue;
            }

            .blue hr {
                border-color: lightskyblue;
            }

        .green {
            color: lightgreen;
        }
            .green p { text-shadow: 0.3px 0.3px 0.3px rgba(0,0,0,0.5); }
            .green button {
                background-color: lightgreen;
            }

            .green hr {
                border-color: lightgreen;
            }

        .red {
            color: lightcoral;
        }
            .red p { text-shadow: 0.3px 0.3px 0.3px rgba(0,0,0,0.5); }
            .red button {
                background-color: lightcoral;
            }

            .red hr {
                border-color: lightcoral;
            }

        button {
            width: 15%;
        }

            button:hover {
                -webkit-transition: all 0.75s ease-out;
                -moz-transition: all 0.75s ease-out;
                -o-transition: all 0.75s ease-out;
                transition: all 1.25s ease-in-out;
                box-shadow: -6px 6px 20px 0 rgba(0,0,0,0.2),-8px 8px 25px 0 rgba(0,0,0,0.19);
            }

        .mainContainer {
            max-width: 100%;
            height: auto;
            margin: 0 6% 0 4%;
            text-align: center;
            justify-content: space-between;
        }

        hr {
            margin: 0  0 auto;
            margin: 0 0 0 0;
        }

        .flexContainerColumn {
            text-align:left; 
            padding:0 0; 
            margin:0 0.5% 0.5% 0; 
            width:100%;
        }
    </style>

    <script>
        function revealDIV(idx) {                                              // reveal/hide detail div when button clicked
            var detail = document.getElementsByClassName("toggle");
            var plusSign = document.getElementsByClassName("revealBut");

            detail[idx].style.transition = "all 1s ease-out 0";
            plusSign[idx].style.transition = "all 1s ease-out 0";
            if (detail[idx].style.display == "none") {
                detail[idx].style.display = "inline";
                //plusSign[idx].style.transform = "rotate(360deg)";
            }
            else {
                detail[idx].style.display = "none";
                //plusSign[idx].style.transform = "rotate(0deg)";
            }
        }
    </script>

    <!-- impose Responsive Design via CSS and JavaScript -->
    @*<link href="/css/ResponsiveDesign.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="/js/ResponsiveDesign.js"></script>*@
</head>

<div class="mainContainer">
    <h1>DbWebAPI</h1>
    <h5 style="text-align:center">ASP.Net Core OpenAPI Web Service Demo</h5>
    <br />
    <div style="text-align:left; width:100%;">
        <p>
            This demonstration of an OpenAPI Web Service uses an in-memory database to hold mock-up's of various food industry regulatory documents.
        </p>
        <p>
            The governments 'Food Standards Agency' require these documents to be archived and held by catering companies as a record of their compliance with UK food hygiene regulation.
        </p>
    </div>
    <div style="text-align:left; width:100%;">
        <p>
            A Xamarin Mobile Application manages the business requirements of the regulation and uses the REST API service to access the document archive.
        </p>
    </div>

    <div class="flexContainerRow clearfix blue">
        <div class="col1 flexContainerColumn sideBySide1col" style="margin:10% 0.5% 0.5% 0;">
            <h6>REST API</h6>
        </div>
        <div class="col11 flexContainerColumn">
            <hr />
        </div>
    </div>
    <div class="flexContainerRow clearfix blue">
        <div class="col11 flexContainerColumn sideBySide10col" >
            <p>REST API Controller provides CRUD access of the document archive to a Xamarin App. Written in C# and uses Nswag to expose the Json Endpoints. </p>
        </div>
        <div class="col1 flexContainerColumn sideBySide1col" >
            <button class="clearfix"><a href="https://localhost:5001/swagger/index.html#/SCxItems" title="Swagger Page">Nswag</a></button>
        </div>
    </div>

    <div class="flexContainerRow clearfix green">
        <div class="col1 flexContainerColumn sideBySide1col" style="margin:10% 0.5% 0.5% 0;">
            <h6>Razor Pages</h6>
        </div>
        <div class="col11 flexContainerColumn">
            <hr />
        </div>
    </div>
    <div class="flexContainerRow clearfix green">
        <div class="col11 flexContainerColumn sideBySide10col">
            <p>Razor web pages display the list of documents, allow search & sort of document data and use a single popup modal to navigate the documents and execute Ajax CRUD requests. Written in C#, HTML, CSS & JavaScript.</p>
        </div>
        <div class="col1 flexContainerColumn sideBySide1col" >
            <button class="clearfix"><a href="https://localhost:5001/Home/SCxPage/Index" title="Razor Pages">Razor</a></button>
        </div>
    </div>

    <div class="flexContainerRow clearfix red">
        <div class="col1 flexContainerColumn sideBySide1col" style="margin:10% 0.5% 0.5% 0;">
            <h6>MVC View Pages</h6>
        </div>
        <div class="col11 flexContainerColumn">
            <hr />
        </div>
    </div>
    <div class="flexContainerRow clearfix red">
        <div class="col11 flexContainerColumn sideBySide10col" >
            <p>Simple Model-View-Controller web pages display a list of raw document data and allow basic CRUD operations on the database. Written in C#, HTML & CSS.</p>
        </div>
        <div class="col1 flexContainerColumn sideBySide1col">
            <button class="clearfix"><a href="https://localhost:5001/Home/SCxView/Index" title="MVC Views">MVC</a></button>
        </div>
    </div>
</div>
